*{
    background: rgb(246,228,247);
    background: radial-gradient(circle, rgba(246,228,247,1) 0%, rgba(250,230,247,0.8197479675463936) 29%, rgba(213,214,242,1) 100%); 
    margin: 0px;
}
h1{
    text-align: center;
    background-color: black;
    padding: 50px 50px 50px 50px;
    margin: 0;
    font-size: 90px;
}
.navbar{
    color:black;
    text-align: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.menu-icon{
    display:flex;
    justify-content: center;
}
.menu{
    display:none;
    flex-direction: column;
    background: rgb(246,228,247);
    background: radial-gradient(circle, rgba(246,228,247,1) 0%, rgba(240, 162, 228, 0.82) 29%, rgba(213,214,242,1) 100%); 
    position:absolute;
    width:100%;
}
.menu a{
    color: blueviolet;
    text-decoration: none;

}